p {
    color: rgba(5, 22, 114, 0.945);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: green;
    font-family: sans-serif;
}
h1{
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-shadow: green -3px 3px 2px, -4px 4px 2px red;
    /* color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 900; */
    }
h2{
    color: rgba(5, 20, 41, 0.514);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    /* font-family: "Moo Lah Lah", sans-serif;
    font-weight: 400;
    font-style: normal; */
        }
    li{
    color: white;
    background-color: black;
}